<div class="container">
    <h2>Create Instructor</h2>
  
    <div class="form-row" *ngIf="showMsg">
      <div class="alert alert-{{ type }} col-md-12" role="alert">
        {{ msg }}
      </div>
    </div>
  
    <form #instructorForm="ngForm">
      <div class="form-row">
        <div class="col-md-4">
          <label>Last Name:</label>
          <input
            type="text"
            id="lastName"
            name="lastName"
            placeholder="Enther the last name"
            class="form-control"
            #lastName
            [(ngModel)]="instructor.LastName"
          />
        </div>
        <div class="col-md-4">
          <label>First Name:</label>
          <input
            type="text"
            id="firstMidName"
            name="firstMidName"
            placeholder="Enther the First Name"
            class="form-control"
            #firstMidName
            [(ngModel)]="instructor.FirstMidName"
          />
        </div>
        <div class="col-md-4">
          <label>Enrollment Date:</label>
          <input
            type="date"
            id="hireDate"
            name="hireDate"
            placeholder="Enther the hire date"
            class="form-control"
            #hireDate
            [(ngModel)]="instructor.HireDate"
          />
        </div>
      </div>
  
      <br />
      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary btn-sm" (click)="save()">
          Save
        </button>
        <a class="btn btn-outline-primary btn-sm" [routerLink]="['/instructor-list']"
          >Back</a
        >
      </div>
    </form>
  </div>
  