  
<div class="container">
    <h1>CourseInstructors</h1>
  
    <a class="btn btn-sm btn-outline-success" [routerLink]="[ '/courseInstructor-save' ]">Create</a>
    <br>
    <table class="table table-bordered">
      <tr>
        <td>ID</td>
        <td>CourseID</td>
        <td>InstructorID</td>
        <td></td>
      </tr>
      <tr *ngFor="let item of courseInstructors">
        <td>{{ item.ID }}</td>
        <td>{{ item.CourseID }}</td>
        <td>{{ item.InstructorID }}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-warning" [routerLink]="[ '/courseInstructors-edit', item.ID ]">Edit</a>
            <a class="btn btn-sm btn-outline-danger" [routerLink]="[ '/courseInstructors-delete', item.ID ]">Delete</a>
          </div>
        </td>
      </tr>
    </table>
  </div>