<div class="container">
    <h2>Edit CourseInstructor</h2>
  
    <div class="form-row" *ngIf="showMsg">
      <div class="alert alert-{{ type }} col-md-12" role="alert">
        {{ msg }}
      </div>
    </div>
  
    <form #courseInstructorForm="ngForm">
      <div class="form-row">
        <div class="col-md-4">
          <label>CourseID:</label>
          <select
            class="form-control"
            id="CourseID"
            name="CourseID"
            [(ngModel)]="courseInstructor.CourseID"
            #CourseID
          >
            <option
              *ngFor="let course of courses"
              [value]="course.CourseID"
            >
              {{ course.Title }}
            </option>
          </select>
        </div>
        <div class="col-md-4">
          <label>InstructorID:</label>
          <select
            class="form-control"
            id="InstructorID"
            name="InstructorID"
            [(ngModel)]="courseInstructor.InstructorID"
            #InstructorID
          >
            <option
              *ngFor="let instructor of instructors"
              [value]="instructor.ID"
            >
              {{ instructor.FullName }}
            </option>
          </select>
        </div>
      </div>
  
      <br />
      <div class="btn-group" role="group">
        <button class="btn btn-outline-primary btn-sm" (click)="edit()">
          Save
        </button>
        <a class="btn btn-outline-primary btn-sm" [routerLink]="['/courseInstructor-list']"
          >Back</a
        >
      </div>
    </form>
  </div>
  