<div class="container">
    <h2>Delete Student</h2>
  
    <div class="form-row" *ngIf="!showMsg">
      <div class="alert alert-danger col-md-12" role="alert">
        Are You Sure?
        <br>
        <div class="btn-group" role="group">
          <button class="btn btn-outline-danger btn-sm" (click)="delete()">Delete</button>
          <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/student-list' ]">Back</a>
        </div>
      </div>
    </div>
  
    <div class="form-row" *ngIf="showMsg">
      <div class="alert alert-{{type}} col-md-12" role="alert">
        {{msg}}
        <br>
        <a class="btn btn-outline-danger btn-sm" [routerLink]="[ '/student-list' ]">Back</a>
      </div>
    </div>
  
    <form #studentForm="ngForm" *ngIf="student">
        <div class="form-row">
          <div class="col-md-4">
            <label>Last Name:</label>
            <input
              type="text"
              id="lastName"
              name="lastName"
              placeholder="Enther the last name"
              class="form-control"
              #lastName
              [(ngModel)]="student.LastName"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label>First Name:</label>
            <input
              type="text"
              id="firstMidName"
              name="firstMidName"
              placeholder="Enther the first name"
              class="form-control"
              #firstMidName
              [(ngModel)]="student.FirstMidName"
              readonly
            />
          </div>
          <div class="col-md-4">
            <label>Enrollment Date:</label>
            <input
              type="date"
              id="enrollmentDate"
              name="enrollmentDate"
              placeholder="Enther the enrollment date"
              class="form-control"
              #enrollmentDate
              [(ngModel)]="student.EnrollmentDate"
              readonly
            />
          </div>
        </div>
    
        <br />
        <div class="btn-group" role="group">
          <button class="btn btn-outline-primary btn-sm" (click)="delete()">
            Edit
          </button>
          <a class="btn btn-outline-primary btn-sm" [routerLink]="['/student-list']"
            >Back</a
          >
        </div>
      </form>
  
  </div>
