  
<div class="container">
    <br />
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/courseInstructor-list']">CourseInstructors</a></li>
            <li class="breadcrumb-item active" aria-current="page">Index</li>
        </ol>
    </nav>            
</div>
<div class="container">
    <h1>CourseInstructors</h1>
  
    <a class="btn btn-sm btn-outline-success" [routerLink]="[ '/courseInstructor-save' ]">Create</a>
    <br>
    <table class="table table-bordered">
      <tr>
        <td>ID</td>
        <td>CourseID</td>
        <td>InstructorID</td>
        <td></td>
      </tr>
      <tr *ngFor="let item of courseInstructors">
        <td>{{ item.ID }}</td>
        <td>{{ item.CourseID }}</td>
        <td>{{ item.InstructorID }}</td>
        <td>
          <div class="btn-group" role="group">
            <a class="btn btn-sm btn-outline-warning" [routerLink]="[ '/courseInstructor-edit', item.ID ]">Edit</a>
            <a class="btn btn-sm btn-outline-danger" [routerLink]="[ '/courseInstructor-delete', item.ID ]">Delete</a>
          </div>
        </td>
      </tr>
    </table>
  </div>